@import '../../bower_components/bootstrap/less/bootstrap.less';

body, html{

  background-color: springgreen;
  height: 100%;

  font-family: arial;

  text-align: center;
}
h1 {
  font-weight: bold;
  color: white;

}

.mainTitle {
  text-align: center;
  font-size: 7em;
  background-color: none;
}

hr {

  border-bottom: white 1px solid;

}

a, a:hover, a:visited, a:active {
  color: royalblue;
}


#pad-content-TORRENT, #pad-content-AGORA {
  padding-bottom: 4em;
}
